
body {
    background-color: #f0f0f0; /*#efefef;*/
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 130%;
    /*monospace;helvetica, serif;palantino;*/
    letter-spacing: 0.01em;
}

.navbar {
    background-color: #bdbdbd;
}

.nav a {
    color: #636363;
    font-weight: bold;
    font-size: 1.2em;
}

.nav li a:link, .nav li a:visited, .nav li a:active{
    color: #636363;
    background-color: #bdbdbd;
    font-weight: bold;
    font-size: 1.2em;
}

.nav li a:hover {
    color: black;
}

.page-content {
    /* below navbar */
    margin-top: 4em;
}


.prompt {
    color: red;
    display: inline;
}

.section {
  border:none;
  border-bottom:1px dotted black;
  padding-top: 0.5em;
}

/* page local anchors for navbar */
.section .anchor  {
    display: block; 
    position: relative;
    top: -4em;
    visibility: hidden;
}

.section-title {
    font-size: 1.5em;
    color: black;
    margin-bottom: 0.5em;
}

.item {
}

.item-title {
    font-size: 1.1em;
}

.item-brief {
    color: black;
    margin-top: 0.5em;
    margin-left: 2em;
}

.item-description {
    color: rgb(136,136,136);
    margin-left: 2em;
}



