
body {
    background-color: #efefef;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 170%;
    /*monospace;helvetica, serif;palantino;*/
    letter-spacing: 0.01em;
}

.nav {
}

.nav li {
    list-style-type: none;
}

.section {
  border:none;
  border-top:1px dotted black;
  padding-top: 0.5em;
}

.section-title {
    font-size: 1.8em;
    color: maroon;
    margin-bottom: 0.5em;
}

.item {
}

.item-title {
    font-size: 1.1em;
}

.item-brief {
    color: black;
    margin-top: 0.5em;
    margin-left: 2em;
}

.item-description {
    color: rgb(136,136,136);
    margin-left: 2em;
}



