
body {
    background-color: #f0f0f0; /*#efefef;*/
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: 1em;
}


.navigation-title {
    /* background-color: #bdbdbd; */
    border-radius: 12px 12px 0px 0px;
}

.navigation-title a {
    /* color: #F74300; */
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 30px;
    display: block;
}

.navigation ul {
    margin: 0;
    padding: 0;
    /* background-color: #bdbdbd; */
    border-radius: 0px 0px 12px 12px;

}

.navigation-links li {
    display: inline;
    font-size: 1em;
    margin-left: 35px;
}
.navigation-links li a:link {
    color: red;
}
.navigation-links li a:visited {
    color: red;
}
.navigation-links li a:active {
    color: red;
}
.navigation-links li a:hover {
    color: red;
}


.prompt {
    color: red;
    display: inline;
    float: left;
}

.page-content {
    margin-top: 1em;
}

.item {
}


.item-brief {
    color: black;
    margin-top: 0.5em;
    margin-left: 2em;
}

.item-content {
    color: rgb(136,136,136);
    margin-left: 2em;
}


.images {
    padding:0 0 0 0;
    margin:0 0 0 0;
    margin-top: 20px;
}
.images li {
    list-style:none;
    margin-bottom:25px;
}
.images li img {
    cursor: pointer;
}